:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --primary-white-color: #ffffff;
    --title-text-color: #757575;
    --accent-color:  #2196F3;
    --main-font: Roboto, sans-serif;
    --secondary-fonts: Raleway, sans-serif;
}

body { 
    font-family:--main-font Roboto, sans-serif;
    color:var(--title-text-color);
}

/* ==============  КНОПКИ   ============== */

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
/* ==============  HEADER LISTS ============ */
.navigation-list a:hover,
.navigation-list a:focus {
    color: var(--accent-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--accent-color);
}

/* ==============  LOGO ============ */

.logo {
    font-family:--secondary-fonts Raleway, sans-serif;
    color: #000;

}
