:root {
    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --title-text-color: #757575;
    --accent-color:  #2196F3;
    --main-font: Roboto, sans-serif;
}



body { 
    font-family: Roboto, sans-serif;
    color:var(--title-text-color);
    letter-spacing: 0.03em;
}

/* ==============  LOGO  ============ */


.logo {
    color:var(--accent-color);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo .span-footer {
    color:var(--primary-white-color);
}

.logo .span-header {
    color:var(--primary-text-color);
}


/* ============== ССЫЛКИ NAV  ============== */

.link {
    text-decoration: none;
}

.navigation-link {
    color:var(--primary-text-color);

    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-list .info {
    color:var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* ============== ЗАГОЛОВКИ ============== */


.heading {
    color:var(--primary-text-color);
}

.section h1 {
    /* color:var(--primary-white-color); */

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

/* ==============  КНОПКИ   ============== */

button {
    font-family: inherit;
    cursor: pointer;
}

.section button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
/* ============= первый Н2 =============== */

.punctuality h3 {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.punctuality p {
    
    font-size: 14px;
    line-height: 1.71;
}

/* ============= второй Н2 =============== */

.section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
}

/* ============= третий Н2 =============== */

.Our-company h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.Our-company p {
    font-size: 16px;
    line-height: 1.18px;
}

/* ============== FOOTER ============== */

.address {
    font-style:normal;

    font-size: 14px;
    line-height: 1.71;
 }

/* .address p { 
    color:var(--primary-white-color);
}
*/




/* страничка портфолио*/



/* ============== ХОВЕР НА ССЫЛКАХ ============ */

.list {
    list-style: none;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: var(--accent-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--accent-color);
}





/* ==============  эффект текущей страницы ============ */

.navigation-list .current {
    color: var(--accent-color);
}


/* ==============  КНОПКИ портфолио  ============== */

.buttons-list button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.buttons-list .button:hover,
.buttons-list .button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* ============== ССЫЛКИ  работ портфолио ============== */

.works-list h3 {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works-list p {
    color:var(--title-text-color);
    font-size: 16px;
    line-height: 1.87;
}