:root {
    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --title-text-color: #757575;
    --accent-color:  #2196F3;
    --main-font: Roboto, sans-serif;
}

body { 
    font-family: Roboto, sans-serif;
    color:var(--title-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 24px;
}

/* ==============  LOGO  ============ */


.logo {
    color:var(--accent-color);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo .span-footer {
    color:var(--primary-white-color);
}

.logo .span-header {
    color:var(--primary-text-color);
}


/* ============== ХОВЕР НА ССЫЛКАХ ============ */

.list {
    list-style: none;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: var(--accent-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--accent-color);
}


/* ==============  КНОПКИ   ============== */

button {
    font-family: inherit;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.section button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
/* ==============  КНОПКИ портфолио  ============== */

.buttons-list button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* ==============  эффект текущей страницы ============ */

.navigation-list .current {
    color: var(--accent-color);
}

/* ============== ССЫЛКИ  ============== */

.link {
    text-decoration: none;
}

.contacts-list .info {
    color:var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation-link {
    color:var(--primary-text-color);

    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* ============== ССЫЛКИ  работ портфолио ============== */

.works-list .works {
    color:var(--primary-text-color);
}

.works-list .works p {
    color:var(--title-text-color);
}

/* ============== FOOTER ============== */

.address {
    font-style:normal;
}

/* .address p { 
    color:var(--primary-white-color);
}
*/


/* ============== ЗАГОЛОВКИ ============== */


.heading {
    color:var(--primary-text-color);
}

h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.37;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase
}

h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

h3 { 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

/* ============== абзацы "наша команда" ============== */

.our-company p {
font-size: 16px;
line-height: 1.18;
}